@import './baseline.scss';

:root {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  font-family: 'Google Sans', system-ui;
  --md-ref-typeface-plain: 'Google Sans', system-ui;
}

body {
  padding-top: 80px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;

  .spacer {
    flex: 1;
  }

  md-linear-progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: opacity 15ms linear 0s;

    &[hidden] {
      opacity: 0;
    }
  }
}
main {
  padding: 20px;
}

md-text-button[router-active] {
  --md-text-button-label-text-type: 700 0.875rem/1.25rem 'Google Sans';
}

md-outlined-text-field md-standard-icon-button {
  min-width: 40px;
  margin-top: -8px;
  margin-inline-start: -8px;
}

#search-input {
  margin: 20px 0 10px 0;
}

.mn-list {
  border-radius: 16px;

  md-list-item {
    display: flex;
    margin: 4px 0;
    --_list-item-container-shape: 4px;
    --_list-item-container-color: var(--md-sys-color-surface-variant);

    &:first-child {
      --_list-item-container-shape: 24px 24px 4px 4px;
    }

    &:last-child {
      --_list-item-container-shape: 4px 4px 24px 24px;
    }

    &:first-child:last-child {
      --_list-item-container-shape: 24px;
    }
  }
}
