[data-md-theme] ::selection,
[data-md-theme]::selection {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

[data-md-theme] body,
body[data-md-theme],
body [data-md-theme] {
  accent-color: var(--md-sys-color-tertiary);
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

@mixin theme($suffix) {
  color-scheme: $suffix;
  --md-sys-color-primary: var(--md-sys-color-primary-#{$suffix});
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-#{$suffix});
  --md-sys-color-primary-container: var(
    --md-sys-color-primary-container-#{$suffix}
  );
  --md-sys-color-on-primary-container: var(
    --md-sys-color-on-primary-container-#{$suffix}
  );
  --md-sys-color-secondary: var(--md-sys-color-secondary-#{$suffix});
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-#{$suffix});
  --md-sys-color-secondary-container: var(
    --md-sys-color-secondary-container-#{$suffix}
  );
  --md-sys-color-on-secondary-container: var(
    --md-sys-color-on-secondary-container-#{$suffix}
  );
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-#{$suffix});
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-#{$suffix});
  --md-sys-color-tertiary-container: var(
    --md-sys-color-tertiary-container-#{$suffix}
  );
  --md-sys-color-on-tertiary-container: var(
    --md-sys-color-on-tertiary-container-#{$suffix}
  );
  --md-sys-color-error: var(--md-sys-color-error-#{$suffix});
  --md-sys-color-on-error: var(--md-sys-color-on-error-#{$suffix});
  --md-sys-color-error-container: var(
    --md-sys-color-error-container-#{$suffix}
  );
  --md-sys-color-on-error-container: var(
    --md-sys-color-on-error-container-#{$suffix}
  );
  --md-sys-color-background: var(--md-sys-color-background-#{$suffix});
  --md-sys-color-on-background: var(--md-sys-color-on-background-#{$suffix});
  --md-sys-color-surface: var(--md-sys-color-surface-#{$suffix});
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-#{$suffix});
  --md-sys-color-surface-variant: var(
    --md-sys-color-surface-variant-#{$suffix}
  );
  --md-sys-color-on-surface-variant: var(
    --md-sys-color-on-surface-variant-#{$suffix}
  );
  --md-sys-color-outline: var(--md-sys-color-outline-#{$suffix});
  --md-sys-color-shadow: var(--md-sys-color-shadow-#{$suffix});
  --md-sys-color-inverse-surface: var(
    --md-sys-color-inverse-surface-#{$suffix}
  );
  --md-sys-color-inverse-on-surface: var(
    --md-sys-color-inverse-on-surface-#{$suffix}
  );
  --md-sys-color-inverse-primary: var(
    --md-sys-color-inverse-primary-#{$suffix}
  );
}

[data-md-theme='light'] {
  @include theme(light);
}

[data-md-theme='dark'] {
  @include theme(dark);
}

[data-md-theme='system'] {
  @media (prefers-color-scheme: light) {
    @include theme(light);
  }

  @media (prefers-color-scheme: dark) {
    @include theme(dark);
  }
}
