@import './baseline';
@import './fonts';
@import './material-you';

header {
  padding: 20px;
}
main {
  padding: 20px;
}

#router-progress {
  margin-top: -4px;
}

#search-input {
  margin: 20px 0;
}

#search-list {
  width: 100%;

  li {
    list-style: none;
    background: var(--md-color-surface-variant);
    color: var(--md-color-on-surface);
    margin: 4px 0;
    padding: 16px;
    border-radius: 4px;

    font-family: var(--md-v2-title-m-font-family);
    font-size: var(--md-v2-title-m-font-size);
    font-weight: var(--md-v2-title-m-font-weight);
    letter-spacing: var(--md-v2-title-m-letter-spacing);
    line-height: var(--md-v2-title-m-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-title-m-font-variation-GRAD),
      'opsz' var(--md-v2-title-m-font-variation-opsz);

    &:first-child {
      border-radius: 16px 16px 4px 4px;
    }

    &:last-child {
      border-radius: 4px 4px 16px 16px;
    }
  }
}
