:root {
  --md-color-white: #fff;
  --md-color-on-surface: #1f1f1f;
  --md-color-scrim-video-container: rgba(31, 31, 31, 0.64);
  --md-color-scrim-video-control: hsla(0, 0%, 100%, 0.12);
  --md-color-scrim-video-control-pressed: hsla(0, 0%, 100%, 0.24);
  --md-display-font-family: 'Google Sans', sans-serif;
  --md-text-font-family: 'Google Sans Text', sans-serif;
  --md-mono-font-family: 'Google Sans Mono', sans-serif;
  --md-v2-hero-font-family: var(--md-display-font-family);
  --md-v2-hero-font-size: 112px;
  --md-v2-hero-line-height: 1;
  --md-v2-hero-font-weight: 475;
  --md-v2-hero-font-variation-GRAD: 0;
  --md-v2-hero-font-variation-opsz: 18;
  --md-v2-hero-letter-spacing: 0;
  --md-v2-display-xl-font-family: var(--md-display-font-family);
  --md-v2-display-xl-font-size: 88px;
  --md-v2-display-xl-line-height: 96px;
  --md-v2-display-xl-font-weight: 475;
  --md-v2-display-xl-font-variation-GRAD: 0;
  --md-v2-display-xl-font-variation-opsz: 18;
  --md-v2-display-xl-letter-spacing: 0;
  --md-v2-display-l-font-family: var(--md-display-font-family);
  --md-v2-display-l-font-size: 57px;
  --md-v2-display-l-line-height: 64px;
  --md-v2-display-l-font-weight: 475;
  --md-v2-display-l-font-variation-GRAD: 0;
  --md-v2-display-l-font-variation-opsz: 18;
  --md-v2-display-l-letter-spacing: 0;
  --md-v2-display-m-font-family: var(--md-display-font-family);
  --md-v2-display-m-font-size: 45px;
  --md-v2-display-m-line-height: 52px;
  --md-v2-display-m-font-weight: 475;
  --md-v2-display-m-font-variation-GRAD: 0;
  --md-v2-display-m-font-variation-opsz: 18;
  --md-v2-display-m-letter-spacing: 0;
  --md-v2-display-s-font-family: var(--md-display-font-family);
  --md-v2-display-s-font-size: 36px;
  --md-v2-display-s-line-height: 44px;
  --md-v2-display-s-font-weight: 475;
  --md-v2-display-s-font-variation-GRAD: 0;
  --md-v2-display-s-font-variation-opsz: 18;
  --md-v2-display-s-letter-spacing: 0;
  --md-v2-headline-l-font-family: var(--md-display-font-family);
  --md-v2-headline-l-font-size: 32px;
  --md-v2-headline-l-line-height: 40px;
  --md-v2-headline-l-font-weight: 475;
  --md-v2-headline-l-font-variation-GRAD: 0;
  --md-v2-headline-l-font-variation-opsz: 18;
  --md-v2-headline-l-letter-spacing: 0;
  --md-v2-headline-m-font-family: var(--md-display-font-family);
  --md-v2-headline-m-font-size: 28px;
  --md-v2-headline-m-line-height: 36px;
  --md-v2-headline-m-font-weight: 475;
  --md-v2-headline-m-font-variation-GRAD: 0;
  --md-v2-headline-m-font-variation-opsz: 18;
  --md-v2-headline-m-letter-spacing: 0;
  --md-v2-headline-s-font-family: var(--md-display-font-family);
  --md-v2-headline-s-font-size: 24px;
  --md-v2-headline-s-line-height: 32px;
  --md-v2-headline-s-font-weight: 475;
  --md-v2-headline-s-font-variation-GRAD: 0;
  --md-v2-headline-s-font-variation-opsz: 18;
  --md-v2-headline-s-letter-spacing: 0;
  --md-v2-title-l-font-family: var(--md-text-font-family);
  --md-v2-title-l-font-size: 22px;
  --md-v2-title-l-line-height: 30px;
  --md-v2-title-l-font-weight: 400;
  --md-v2-title-l-font-variation-GRAD: 0;
  --md-v2-title-l-font-variation-opsz: 17;
  --md-v2-title-l-letter-spacing: 0;
  --md-v2-title-m-font-family: var(--md-text-font-family);
  --md-v2-title-m-font-size: 16px;
  --md-v2-title-m-line-height: 24px;
  --md-v2-title-m-font-weight: 500;
  --md-v2-title-m-font-variation-GRAD: 0;
  --md-v2-title-m-font-variation-opsz: 17;
  --md-v2-title-m-letter-spacing: 0;
  --md-v2-title-s-font-family: var(--md-text-font-family);
  --md-v2-title-s-font-size: 14px;
  --md-v2-title-s-line-height: 20px;
  --md-v2-title-s-font-weight: 500;
  --md-v2-title-s-font-variation-GRAD: 0;
  --md-v2-title-s-font-variation-opsz: 17;
  --md-v2-title-s-letter-spacing: 0;
  --md-v2-label-l-font-family: var(--md-text-font-family);
  --md-v2-label-l-font-size: 14px;
  --md-v2-label-l-line-height: 20px;
  --md-v2-label-l-font-weight: 500;
  --md-v2-label-l-font-variation-GRAD: 0;
  --md-v2-label-l-font-variation-opsz: 17;
  --md-v2-label-l-letter-spacing: 0;
  --md-v2-label-m-font-family: var(--md-text-font-family);
  --md-v2-label-m-font-size: 12px;
  --md-v2-label-m-line-height: 16px;
  --md-v2-label-m-font-weight: 500;
  --md-v2-label-m-font-variation-GRAD: 0;
  --md-v2-label-m-font-variation-opsz: 17;
  --md-v2-label-m-letter-spacing: 0.1px;
  --md-v2-label-s-font-family: var(--md-text-font-family);
  --md-v2-label-s-font-size: 11px;
  --md-v2-label-s-line-height: 16px;
  --md-v2-label-s-font-weight: 500;
  --md-v2-label-s-font-variation-GRAD: 0;
  --md-v2-label-s-font-variation-opsz: 17;
  --md-v2-label-s-letter-spacing: 0.1px;
  --md-v2-body-l-font-family: var(--md-text-font-family);
  --md-v2-body-l-font-size: 16px;
  --md-v2-body-l-line-height: 24px;
  --md-v2-body-l-font-weight: 400;
  --md-v2-body-l-font-variation-GRAD: 0;
  --md-v2-body-l-font-variation-opsz: 17;
  --md-v2-body-l-letter-spacing: 0;
  --md-v2-body-m-font-family: var(--md-text-font-family);
  --md-v2-body-m-font-size: 14px;
  --md-v2-body-m-line-height: 20px;
  --md-v2-body-m-font-weight: 400;
  --md-v2-body-m-font-variation-GRAD: 0;
  --md-v2-body-m-font-variation-opsz: 17;
  --md-v2-body-m-letter-spacing: 0;
  --md-v2-body-s-font-family: var(--md-text-font-family);
  --md-v2-body-s-font-size: 12px;
  --md-v2-body-s-line-height: 16px;
  --md-v2-body-s-font-weight: 400;
  --md-v2-body-s-font-variation-GRAD: 0;
  --md-v2-body-s-font-variation-opsz: 17;
  --md-v2-body-s-letter-spacing: 0.1px;
  --md-v2-code-l-font-family: var(--md-mono-font-family);
  --md-v2-code-l-font-size: 16px;
  --md-v2-code-l-line-height: 24px;
  --md-v2-code-l-font-weight: 400;
  --md-v2-code-l-letter-spacing: 0;
  --md-v2-code-m-font-family: var(--md-mono-font-family);
  --md-v2-code-m-font-size: 14px;
  --md-v2-code-m-line-height: 20px;
  --md-v2-code-m-font-weight: 400;
  --md-v2-code-m-letter-spacing: 0;
  --md-v2-code-snippet-font-family: var(--md-mono-font-family);
  --md-v2-code-snippet-font-size: 15px;
  --md-v2-code-snippet-line-height: 32px;
  --md-v2-code-snippet-font-weight: 500;
  -webkit-font-smoothing: antialiased;

  --md-color-on-surface-variant-2: linear-gradient(
    0deg,
    rgba(68, 71, 70, 0.08),
    rgba(68, 71, 70, 0.08)
  );
  --md-color-on-surface-variant-4: linear-gradient(
    0deg,
    rgba(68, 71, 70, 0.12),
    rgba(68, 71, 70, 0.12)
  );
  --md-color-on-surface-2: linear-gradient(
      0deg,
      rgba(31, 31, 31, 0.08),
      rgba(31, 31, 31, 0.08)
    ),
    var(--md-color-secondary-container);
  --md-color-on-surface-4: linear-gradient(
      0deg,
      rgba(31, 31, 31, 0.12),
      rgba(31, 31, 31, 0.12)
    ),
    var(--md-color-secondary-container);
  --md-color-white: #fff;
  --md-color-on-background: #1f1f1f;
  --md-color-background: #fff;
  --md-color-on-surface: #1f1f1f;
  --md-color-on-surface-variant: #444746;
  --md-color-surface-0: #fff;
  --md-color-surface-variant: #e1e3e1;
  --md-color-inverse-surface: #303030;
  --md-color-inverse-on-surface: #f2f2f2;
  --md-color-primary: #0b57d0;
  --md-color-primary-80: #a8c7fa;
  --md-color-primary-30: #0842a0;
  --md-color-primary-20: #062e6f;
  --md-color-on-primary: #fff;
  --md-color-neutral-10: #1f1f1f;
  --md-color-neutral-90: #e3e3e3;
  --md-color-primary-container: #d3e3fd;
  --md-color-on-primary-container: #041e49;
  --md-color-secondary: #00639b;
  --md-color-on-secondary: #fff;
  --md-color-secondary-container: #c2e7ff;
  --md-color-on-secondary-container: #001d35;
  --md-color-tertiary-container: #c4eed0;
  --md-color-on-tertiary-container: #072711;
  --md-color-utility-error: #b3261e;
  --md-color-utility-on-error: #fff;
  --md-color-utility-outline: #747775;
  --md-color-surface-1: #f8fafd;
  --md-color-surface-2: #f3f6fc;
  --md-color-surface-3: #eff3fa;
  --md-color-surface-4: #edf2fa;
  --md-color-surface-5: #eaf0f9;
  --md-color-extensions-do-container: #085786;
  --md-color-extensions-on-do-container: #fff;
  --md-color-extensions-dont-container: #b3261e;
  --md-color-extensions-on-dont-container: #fff;
  --md-color-extensions-caution-container: #e8e971;
  --md-color-extensions-on-caution-container: #1f1f1f;
  --md-color-ref-secondary-200: #7fcfff;
  --md-color-ref-secondary-300: #5ab3f0;
  --md-color-ref-neutral-100: #e3e3e3;
  --md-color-ref-neutral-200: #c7c7c7;
  --md-color-scrim-video-container: rgba(31, 31, 31, 0.64);
  --md-color-scrim-video-control: hsla(0, 0%, 100%, 0.12);
  --md-color-scrim-video-control-pressed: hsla(0, 0%, 100%, 0.24);
  --md-color-copy-link-tooltip: #f2f2f2;
  --md-elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --md-elevation-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --md-elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}
:root.dark-mode {
  --md-color-on-surface-variant-2: linear-gradient(
    0deg,
    hsla(140, 3%, 77%, 0.08),
    hsla(140, 3%, 77%, 0.08)
  );
  --md-color-on-surface-variant-4: linear-gradient(
    0deg,
    hsla(140, 3%, 77%, 0.12),
    hsla(140, 3%, 77%, 0.12)
  );
  --md-color-on-surface-2: linear-gradient(
      0deg,
      hsla(0, 0%, 89%, 0.08),
      hsla(0, 0%, 89%, 0.08)
    ),
    var(--md-color-secondary-container);
  --md-color-on-surface-4: linear-gradient(
      0deg,
      hsla(0, 0%, 89%, 0.12),
      hsla(0, 0%, 89%, 0.12)
    ),
    var(--md-color-secondary-container);
  --md-color-white: #fff;
  --md-color-on-background: #e3e3e3;
  --md-color-background: #1f1f1f;
  --md-color-on-surface: #e3e3e3;
  --md-color-on-surface-variant: #c4c7c5;
  --md-color-surface-0: #1f1f1f;
  --md-color-surface-variant: #444746;
  --md-color-inverse-surface: #e3e3e3;
  --md-color-inverse-on-surface: #303030;
  --md-color-surface-1: #28292a;
  --md-color-surface-2: #2d2f31;
  --md-color-surface-3: #333438;
  --md-color-surface-4: #34363a;
  --md-color-surface-5: #383a3e;
  --md-color-primary: #a8c7fa;
  --md-color-primary-80: #a8c7fa;
  --md-color-primary-30: #0842a0;
  --md-color-primary-20: #062e6f;
  --md-color-neutral-10: #1f1f1f;
  --md-color-neutral-90: #e3e3e3;
  --md-color-on-primary: #062e6f;
  --md-color-primary-container: #0842a0;
  --md-color-on-primary-container: #d3e3fd;
  --md-color-secondary: #7fcfff;
  --md-color-on-secondary: #035;
  --md-color-secondary-container: #004a77;
  --md-color-on-secondary-container: #c2e7ff;
  --md-color-tertiary-container: #0f5223;
  --md-color-on-tertiary-container: #c4eed0;
  --md-color-utility-error: #f2b8b5;
  --md-color-utility-on-error: #601410;
  --md-color-utility-outline: #8e918f;
  --md-color-extensions-do-container: #b4e5f2;
  --md-color-extensions-on-do-container: #073550;
  --md-color-extensions-dont-container: #f2b8b5;
  --md-color-extensions-on-dont-container: #601410;
  --md-color-extensions-caution-container: #e2e290;
  --md-color-extensions-on-caution-container: #473e00;
  --md-color-copy-link-tooltip: #f2f2f2;
  --md-elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --md-elevation-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --md-elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}
:root.green {
  --md-color-on-surface-variant-2: linear-gradient(
    0deg,
    rgba(67, 73, 62, 0.08),
    rgba(67, 73, 62, 0.08)
  );
  --md-color-on-surface-variant-4: linear-gradient(
    0deg,
    rgba(67, 73, 62, 0.12),
    rgba(67, 73, 62, 0.12)
  );
  --md-color-on-surface-2: linear-gradient(
      0deg,
      rgba(26, 28, 24, 0.08),
      rgba(26, 28, 24, 0.08)
    ),
    var(--md-color-secondary-container);
  --md-color-on-surface-4: linear-gradient(
      0deg,
      rgba(26, 28, 24, 0.12),
      rgba(26, 28, 24, 0.12)
    ),
    var(--md-color-secondary-container);
  --md-color-white: #fff;
  --md-color-on-background: #1a1c18;
  --md-color-background: #fdfdf6;
  --md-color-on-surface: #1a1c18;
  --md-color-on-surface-variant: #43493e;
  --md-color-surface-0: #fdfdf6;
  --md-color-surface-variant: #dfe4d6;
  --md-color-inverse-surface: #2f312c;
  --md-color-inverse-on-surface: #f1f1ea;
  --md-color-primary: #386a20;
  --md-color-primary-80: #9cd67d;
  --md-color-primary-30: #205107;
  --md-color-primary-20: #0c3900;
  --md-color-on-primary: #fff;
  --md-color-primary-container: #b8f397;
  --md-color-on-primary-container: #042100;
  --md-color-secondary: #55624c;
  --md-color-on-secondary: #fff;
  --md-color-secondary-container: #d9e7cb;
  --md-color-on-secondary-container: #131f0d;
  --md-color-tertiary-container: #bbebeb;
  --md-color-on-tertiary-container: #002021;
  --md-color-utility-error: #ba1b1b;
  --md-color-utility-on-error: #fff;
  --md-color-utility-outline: #74796e;
  --md-color-surface-1: #f0f3e8;
  --md-color-surface-2: #ebefe2;
  --md-color-surface-3: #e5eadc;
  --md-color-surface-4: #e3e9da;
  --md-color-surface-5: #dfe6d5;
  --md-color-ref-secondary-200: #bdcbb0;
  --md-color-ref-secondary-300: #a1b095;
  --md-color-ref-neutral-100: #e3e3e3;
  --md-color-ref-neutral-200: #c7c7c7;
}
:root.green.dark-mode {
  --md-color-on-surface-variant-2: linear-gradient(
    0deg,
    hsla(78, 11%, 76%, 0.08),
    hsla(78, 11%, 76%, 0.08)
  );
  --md-color-on-surface-variant-4: linear-gradient(
    0deg,
    hsla(78, 11%, 76%, 0.12),
    hsla(78, 11%, 76%, 0.12)
  );
  --md-color-on-surface-2: linear-gradient(
      0deg,
      hsla(60, 11%, 88%, 0.08),
      hsla(60, 11%, 88%, 0.08)
    ),
    var(--md-color-secondary-container);
  --md-color-on-surface-4: linear-gradient(
      0deg,
      hsla(60, 11%, 88%, 0.12),
      hsla(60, 11%, 88%, 0.12)
    ),
    var(--md-color-secondary-container);
  --md-color-white: #fff;
  --md-color-on-background: #e3e3dc;
  --md-color-background: #1a1c18;
  --md-color-on-surface: #e3e3dc;
  --md-color-on-surface-variant: #c4c8bb;
  --md-color-surface-0: #1a1c18;
  --md-color-surface-variant: #43493e;
  --md-color-surface-1: #232820;
  --md-color-surface-2: #272e23;
  --md-color-surface-3: #2b3326;
  --md-color-surface-4: #2c3527;
  --md-color-surface-5: #2f3929;
  --md-color-inverse-surface: #2f312c;
  --md-color-inverse-on-surface: #f1f1ea;
  --md-color-primary: #9cd67d;
  --md-color-primary-80: #9cd67d;
  --md-color-primary-30: #205107;
  --md-color-primary-20: #0c3900;
  --md-color-neutral-10: #1a1c18;
  --md-color-neutral-90: #e3e3dc;
  --md-color-on-primary: #0c3900;
  --md-color-primary-container: #205107;
  --md-color-on-primary-container: #b8f397;
  --md-color-secondary: #bdcbb0;
  --md-color-on-secondary: #273420;
  --md-color-secondary-container: #3e4a36;
  --md-color-on-secondary-container: #d9e7cb;
  --md-color-tertiary-container: #1e4e4e;
  --md-color-on-tertiary-container: #bbebeb;
  --md-color-utility-error: #ffb4a9;
  --md-color-utility-on-error: #680003;
  --md-color-utility-outline: #8d9286;
}
:root.red {
  --md-color-on-surface-variant-2: linear-gradient(
    0deg,
    rgba(83, 67, 67, 0.08),
    rgba(83, 67, 67, 0.08)
  );
  --md-color-on-surface-variant-4: linear-gradient(
    0deg,
    rgba(83, 67, 67, 0.12),
    rgba(83, 67, 67, 0.12)
  );
  --md-color-on-surface-2: linear-gradient(
      0deg,
      rgba(33, 26, 26, 0.08),
      rgba(33, 26, 26, 0.08)
    ),
    var(--md-color-secondary-container);
  --md-color-on-surface-4: linear-gradient(
      0deg,
      rgba(33, 26, 26, 0.12),
      rgba(33, 26, 26, 0.12)
    ),
    var(--md-color-secondary-container);
  --md-color-white: #fff;
  --md-color-on-background: #211a1a;
  --md-color-background: #fcfcfc;
  --md-color-on-surface: #211a1a;
  --md-color-on-surface-variant: #534343;
  --md-color-surface-0: #fcfcfc;
  --md-color-surface-variant: #f4dedd;
  --md-color-inverse-surface: #362f2f;
  --md-color-inverse-on-surface: #fbeeed;
  --md-color-primary: #9c4146;
  --md-color-primary-80: #ffb3b5;
  --md-color-primary-30: #7d2a30;
  --md-color-primary-20: #5f121b;
  --md-color-on-primary: #fff;
  --md-color-primary-container: #ffdadb;
  --md-color-on-primary-container: #400008;
  --md-color-secondary: #765656;
  --md-color-on-secondary: #fff;
  --md-color-secondary-container: #ffdad9;
  --md-color-on-secondary-container: #2d1516;
  --md-color-tertiary-container: #fda;
  --md-color-on-tertiary-container: #281800;
  --md-color-utility-error: #ba1b1b;
  --md-color-utility-on-error: #fff;
  --md-color-utility-outline: #857373;
  --md-color-surface-1: #f5f0f0;
  --md-color-surface-2: #f3eaeb;
  --md-color-surface-3: #f0e5e5;
  --md-color-surface-4: #efe3e4;
  --md-color-surface-5: #eddfe0;
  --md-color-ref-secondary-200: #e6bcbc;
  --md-color-ref-secondary-300: #c9a1a1;
  --md-color-ref-neutral-100: #e3e3e3;
  --md-color-ref-neutral-200: #c7c7c7;
}
:root.red.dark-mode {
  --md-color-on-surface-variant-2: linear-gradient(
    0deg,
    hsla(3, 22%, 80%, 0.08),
    hsla(3, 22%, 80%, 0.08)
  );
  --md-color-on-surface-variant-4: linear-gradient(
    0deg,
    hsla(3, 22%, 80%, 0.12),
    hsla(3, 22%, 80%, 0.12)
  );
  --md-color-on-surface-2: linear-gradient(
      0deg,
      hsla(4, 28%, 90%, 0.08),
      hsla(4, 28%, 90%, 0.08)
    ),
    var(--md-color-secondary-container);
  --md-color-on-surface-4: linear-gradient(
      0deg,
      hsla(4, 28%, 90%, 0.12),
      hsla(4, 28%, 90%, 0.12)
    ),
    var(--md-color-secondary-container);
  --md-color-white: #fff;
  --md-color-on-background: #ede0df;
  --md-color-background: #211a1a;
  --md-color-on-surface: #ede0df;
  --md-color-on-surface-variant: #d7c2c1;
  --md-color-surface-0: #211a1a;
  --md-color-surface-variant: #534343;
  --md-color-surface-1: #2f2525;
  --md-color-surface-2: #362929;
  --md-color-surface-3: #3c2e2e;
  --md-color-surface-4: #3e2f2f;
  --md-color-surface-5: #433232;
  --md-color-inverse-surface: #362f2f;
  --md-color-inverse-on-surface: #fbeeed;
  --md-color-primary: #ffb3b5;
  --md-color-primary-80: #ffb3b5;
  --md-color-primary-30: #7d2a30;
  --md-color-primary-20: #5f121b;
  --md-color-neutral-10: #211a1a;
  --md-color-neutral-90: #ede0df;
  --md-color-on-primary: #5f121b;
  --md-color-primary-container: #7d2a30;
  --md-color-on-primary-container: #ffdadb;
  --md-color-secondary: #e6bcbc;
  --md-color-on-secondary: #442929;
  --md-color-secondary-container: #5c3f3f;
  --md-color-on-secondary-container: #ffdad9;
  --md-color-tertiary-container: #5b4219;
  --md-color-on-tertiary-container: #fda;
  --md-color-utility-error: #ffb4a9;
  --md-color-utility-on-error: #680003;
  --md-color-utility-outline: #a08c8c;
}
:root.yellow {
  --md-color-on-surface-variant-2: linear-gradient(
    0deg,
    rgba(72, 71, 58, 0.08),
    rgba(72, 71, 58, 0.08)
  );
  --md-color-on-surface-variant-4: linear-gradient(
    0deg,
    rgba(72, 71, 58, 0.12),
    rgba(72, 71, 58, 0.12)
  );
  --md-color-on-surface-2: linear-gradient(
      0deg,
      rgba(28, 28, 22, 0.08),
      rgba(28, 28, 22, 0.08)
    ),
    var(--md-color-secondary-container);
  --md-color-on-surface-4: linear-gradient(
      0deg,
      rgba(28, 28, 22, 0.12),
      rgba(28, 28, 22, 0.12)
    ),
    var(--md-color-secondary-container);
  --md-color-white: #fff;
  --md-color-on-background: #1c1c16;
  --md-color-background: #fffcf3;
  --md-color-on-surface: #1c1c16;
  --md-color-on-surface-variant: #48473a;
  --md-color-surface-0: #fffcf3;
  --md-color-surface-variant: #e6e3d1;
  --md-color-inverse-surface: #31302b;
  --md-color-inverse-on-surface: #f4f0e8;
  --md-color-primary: #616200;
  --md-color-primary-80: #cbcc58;
  --md-color-primary-30: #494a00;
  --md-color-primary-20: #323200;
  --md-color-on-primary: #fff;
  --md-color-primary-container: #e8e971;
  --md-color-on-primary-container: #1d1d00;
  --md-color-secondary: #606042;
  --md-color-on-secondary: #fff;
  --md-color-secondary-container: #e6e4bf;
  --md-color-on-secondary-container: #1c1d06;
  --md-color-tertiary-container: #bfedd9;
  --md-color-on-tertiary-container: #002117;
  --md-color-utility-error: #ba1b1b;
  --md-color-utility-on-error: #fff;
  --md-color-utility-outline: #797869;
  --md-color-surface-1: #f4f1e4;
  --md-color-surface-2: #f0eddd;
  --md-color-surface-3: #ebe8d6;
  --md-color-surface-4: #e9e7d3;
  --md-color-surface-5: #e6e4ce;
  --md-color-ref-secondary-200: #cac8a5;
  --md-color-ref-secondary-300: #aead8a;
  --md-color-ref-neutral-100: #e3e3e3;
  --md-color-ref-neutral-200: #c7c7c7;
}
:root.yellow.dark-mode {
  --md-color-on-surface-variant-2: linear-gradient(
    0deg,
    hsla(54, 15%, 75%, 0.08),
    hsla(54, 15%, 75%, 0.08)
  );
  --md-color-on-surface-variant-4: linear-gradient(
    0deg,
    hsla(54, 15%, 75%, 0.12),
    hsla(54, 15%, 75%, 0.12)
  );
  --md-color-on-surface-2: linear-gradient(
      0deg,
      hsla(45, 19%, 87%, 0.08),
      hsla(45, 19%, 87%, 0.08)
    ),
    var(--md-color-secondary-container);
  --md-color-on-surface-4: linear-gradient(
      0deg,
      hsla(45, 19%, 87%, 0.12),
      hsla(45, 19%, 87%, 0.12)
    ),
    var(--md-color-secondary-container);
  --md-color-white: #fff;
  --md-color-on-background: #e5e2d9;
  --md-color-background: #1c1c16;
  --md-color-on-surface: #e5e2d9;
  --md-color-on-surface-variant: #c9c7b6;
  --md-color-surface-0: #1c1c16;
  --md-color-surface-variant: #48473a;
  --md-color-surface-1: #28281c;
  --md-color-surface-2: #2d2d1e;
  --md-color-surface-3: #323220;
  --md-color-surface-4: #343421;
  --md-color-surface-5: #373722;
  --md-color-inverse-surface: #31302b;
  --md-color-inverse-on-surface: #f4f0e8;
  --md-color-primary: #cbcc58;
  --md-color-primary-80: #cbcc58;
  --md-color-primary-30: #494a00;
  --md-color-primary-20: #323200;
  --md-color-neutral-10: #1c1c16;
  --md-color-neutral-90: #e5e2d9;
  --md-color-on-primary: #323200;
  --md-color-primary-container: #494a00;
  --md-color-on-primary-container: #e8e971;
  --md-color-secondary: #cac8a5;
  --md-color-on-secondary: #323219;
  --md-color-secondary-container: #48482d;
  --md-color-on-secondary-container: #e6e4bf;
  --md-color-tertiary-container: #254e40;
  --md-color-on-tertiary-container: #bfedd9;
  --md-color-utility-error: #ffb4a9;
  --md-color-utility-on-error: #680003;
  --md-color-utility-outline: #939182;
}
:root.nav-transition * {
  transition: background-color 0.5s cubic-bezier(0.2, 0, 0, 1),
    background-image 0.5s cubic-bezier(0.2, 0, 0, 1);
}
.md-button {
  font-family: var(--md-v2-label-l-font-family);
  font-size: var(--md-v2-label-l-font-size);
  line-height: var(--md-v2-label-l-line-height);
  font-weight: var(--md-v2-label-l-font-weight);
  letter-spacing: var(--md-v2-label-l-letter-spacing);
  text-transform: none;
}

* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  background-color: var(--md-color-background);
}
body {
  font-family: var(--md-v2-body-l-font-family);
  font-size: var(--md-v2-body-l-font-size);
  font-weight: var(--md-v2-body-l-font-weight);
  letter-spacing: var(--md-v2-body-l-letter-spacing);
  line-height: var(--md-v2-body-l-line-height);
  font-variation-settings: 'GRAD' var(--md-v2-body-l-font-variation-GRAD),
    'opsz' var(--md-v2-body-l-font-variation-opsz);
  color: var(--md-color-on-background);
}
@media screen and (max-width: 600px) {
  body {
    font-family: var(--md-v2-body-m-font-family);
    font-size: var(--md-v2-body-m-font-size);
    font-weight: var(--md-v2-body-m-font-weight);
    letter-spacing: var(--md-v2-body-m-letter-spacing);
    line-height: var(--md-v2-body-m-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-body-m-font-variation-GRAD),
      'opsz' var(--md-v2-body-m-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  body {
    font-family: var(--md-v2-body-l-font-family);
    font-size: var(--md-v2-body-l-font-size);
    font-weight: var(--md-v2-body-l-font-weight);
    letter-spacing: var(--md-v2-body-l-letter-spacing);
    line-height: var(--md-v2-body-l-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-body-l-font-variation-GRAD),
      'opsz' var(--md-v2-body-l-font-variation-opsz);
  }
}
h2,
h4,
h5,
h6 {
  margin: 32px 0;
}
h1 {
  font-family: var(--md-v2-display-l-font-family);
  font-size: var(--md-v2-display-l-font-size);
  font-weight: var(--md-v2-display-l-font-weight);
  letter-spacing: var(--md-v2-display-l-letter-spacing);
  line-height: var(--md-v2-display-l-line-height);
  font-variation-settings: 'GRAD' var(--md-v2-display-l-font-variation-GRAD),
    'opsz' var(--md-v2-display-l-font-variation-opsz);
  margin: 0;
}
@media screen and (max-width: 600px) {
  h1 {
    font-family: var(--md-v2-display-s-font-family);
    font-size: var(--md-v2-display-s-font-size);
    font-weight: var(--md-v2-display-s-font-weight);
    letter-spacing: var(--md-v2-display-s-letter-spacing);
    line-height: var(--md-v2-display-s-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-display-s-font-variation-GRAD),
      'opsz' var(--md-v2-display-s-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  h1 {
    font-family: var(--md-v2-display-m-font-family);
    font-size: var(--md-v2-display-m-font-size);
    font-weight: var(--md-v2-display-m-font-weight);
    letter-spacing: var(--md-v2-display-m-letter-spacing);
    line-height: var(--md-v2-display-m-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-display-m-font-variation-GRAD),
      'opsz' var(--md-v2-display-m-font-variation-opsz);
  }
}
h2 {
  font-family: var(--md-v2-display-m-font-family);
  font-size: var(--md-v2-display-m-font-size);
  font-weight: var(--md-v2-display-m-font-weight);
  letter-spacing: var(--md-v2-display-m-letter-spacing);
  line-height: var(--md-v2-display-m-line-height);
  font-variation-settings: 'GRAD' var(--md-v2-display-m-font-variation-GRAD),
    'opsz' var(--md-v2-display-m-font-variation-opsz);
}
@media screen and (max-width: 600px) {
  h2 {
    font-family: var(--md-v2-headline-l-font-family);
    font-size: var(--md-v2-headline-l-font-size);
    font-weight: var(--md-v2-headline-l-font-weight);
    letter-spacing: var(--md-v2-headline-l-letter-spacing);
    line-height: var(--md-v2-headline-l-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-headline-l-font-variation-GRAD),
      'opsz' var(--md-v2-headline-l-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  h2 {
    font-family: var(--md-v2-display-s-font-family);
    font-size: var(--md-v2-display-s-font-size);
    font-weight: var(--md-v2-display-s-font-weight);
    letter-spacing: var(--md-v2-display-s-letter-spacing);
    line-height: var(--md-v2-display-s-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-display-s-font-variation-GRAD),
      'opsz' var(--md-v2-display-s-font-variation-opsz);
  }
}
h3 {
  font-family: var(--md-v2-display-s-font-family);
  font-size: var(--md-v2-display-s-font-size);
  font-weight: var(--md-v2-display-s-font-weight);
  letter-spacing: var(--md-v2-display-s-letter-spacing);
  line-height: var(--md-v2-display-s-line-height);
  font-variation-settings: 'GRAD' var(--md-v2-display-s-font-variation-GRAD),
    'opsz' var(--md-v2-display-s-font-variation-opsz);
  margin: 16px 0;
}
@media screen and (max-width: 600px) {
  h3 {
    font-family: var(--md-v2-headline-m-font-family);
    font-size: var(--md-v2-headline-m-font-size);
    font-weight: var(--md-v2-headline-m-font-weight);
    letter-spacing: var(--md-v2-headline-m-letter-spacing);
    line-height: var(--md-v2-headline-m-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-headline-m-font-variation-GRAD),
      'opsz' var(--md-v2-headline-m-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  h3 {
    font-family: var(--md-v2-headline-l-font-family);
    font-size: var(--md-v2-headline-l-font-size);
    font-weight: var(--md-v2-headline-l-font-weight);
    letter-spacing: var(--md-v2-headline-l-letter-spacing);
    line-height: var(--md-v2-headline-l-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-headline-l-font-variation-GRAD),
      'opsz' var(--md-v2-headline-l-font-variation-opsz);
  }
}
h4 {
  font-family: var(--md-v2-headline-s-font-family);
  font-size: var(--md-v2-headline-s-font-size);
  font-weight: var(--md-v2-headline-s-font-weight);
  letter-spacing: var(--md-v2-headline-s-letter-spacing);
  line-height: var(--md-v2-headline-s-line-height);
  font-variation-settings: 'GRAD' var(--md-v2-headline-s-font-variation-GRAD),
    'opsz' var(--md-v2-headline-s-font-variation-opsz);
}
@media screen and (max-width: 600px) {
  h4 {
    font-family: var(--md-v2-headline-s-font-family);
    font-size: var(--md-v2-headline-s-font-size);
    font-weight: var(--md-v2-headline-s-font-weight);
    letter-spacing: var(--md-v2-headline-s-letter-spacing);
    line-height: var(--md-v2-headline-s-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-headline-s-font-variation-GRAD),
      'opsz' var(--md-v2-headline-s-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  h4 {
    font-family: var(--md-v2-headline-s-font-family);
    font-size: var(--md-v2-headline-s-font-size);
    font-weight: var(--md-v2-headline-s-font-weight);
    letter-spacing: var(--md-v2-headline-s-letter-spacing);
    line-height: var(--md-v2-headline-s-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-headline-s-font-variation-GRAD),
      'opsz' var(--md-v2-headline-s-font-variation-opsz);
  }
}
h5 {
  font-family: var(--md-v2-title-m-font-family);
  font-size: var(--md-v2-title-m-font-size);
  font-weight: var(--md-v2-title-m-font-weight);
  letter-spacing: var(--md-v2-title-m-letter-spacing);
  line-height: var(--md-v2-title-m-line-height);
  font-variation-settings: 'GRAD' var(--md-v2-title-m-font-variation-GRAD),
    'opsz' var(--md-v2-title-m-font-variation-opsz);
}
@media screen and (max-width: 600px) {
  h5 {
    font-family: var(--md-v2-title-m-font-family);
    font-size: var(--md-v2-title-m-font-size);
    font-weight: var(--md-v2-title-m-font-weight);
    letter-spacing: var(--md-v2-title-m-letter-spacing);
    line-height: var(--md-v2-title-m-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-title-m-font-variation-GRAD),
      'opsz' var(--md-v2-title-m-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  h5 {
    font-family: var(--md-v2-title-m-font-family);
    font-size: var(--md-v2-title-m-font-size);
    font-weight: var(--md-v2-title-m-font-weight);
    letter-spacing: var(--md-v2-title-m-letter-spacing);
    line-height: var(--md-v2-title-m-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-title-m-font-variation-GRAD),
      'opsz' var(--md-v2-title-m-font-variation-opsz);
  }
}
h6 {
  font-family: var(--md-v2-title-m-font-family);
  font-size: var(--md-v2-title-m-font-size);
  font-weight: var(--md-v2-title-m-font-weight);
  letter-spacing: var(--md-v2-title-m-letter-spacing);
  line-height: var(--md-v2-title-m-line-height);
  font-variation-settings: 'GRAD' var(--md-v2-title-m-font-variation-GRAD),
    'opsz' var(--md-v2-title-m-font-variation-opsz);
}
@media screen and (max-width: 600px) {
  h6 {
    font-family: var(--md-v2-title-m-font-family);
    font-size: var(--md-v2-title-m-font-size);
    font-weight: var(--md-v2-title-m-font-weight);
    letter-spacing: var(--md-v2-title-m-letter-spacing);
    line-height: var(--md-v2-title-m-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-title-m-font-variation-GRAD),
      'opsz' var(--md-v2-title-m-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  h6 {
    font-family: var(--md-v2-title-m-font-family);
    font-size: var(--md-v2-title-m-font-size);
    font-weight: var(--md-v2-title-m-font-weight);
    letter-spacing: var(--md-v2-title-m-letter-spacing);
    line-height: var(--md-v2-title-m-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-title-m-font-variation-GRAD),
      'opsz' var(--md-v2-title-m-font-variation-opsz);
  }
}
b,
strong {
  font-weight: 500;
}
em {
  font-style: italic;
}
a {
  font-family: var(--md-v2-title-m-font-family);
  font-size: var(--md-v2-title-m-font-size);
  font-weight: var(--md-v2-title-m-font-weight);
  letter-spacing: var(--md-v2-title-m-letter-spacing);
  line-height: var(--md-v2-title-m-line-height);
  font-variation-settings: 'GRAD' var(--md-v2-title-m-font-variation-GRAD),
    'opsz' var(--md-v2-title-m-font-variation-opsz);
  padding: 1px;
  border-radius: 4px;
  color: var(--md-color-primary);
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  a {
    font-family: var(--md-v2-title-m-font-family);
    font-size: var(--md-v2-title-m-font-size);
    font-weight: var(--md-v2-title-m-font-weight);
    letter-spacing: var(--md-v2-title-m-letter-spacing);
    line-height: var(--md-v2-title-m-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-title-m-font-variation-GRAD),
      'opsz' var(--md-v2-title-m-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  a {
    font-family: var(--md-v2-title-m-font-family);
    font-size: var(--md-v2-title-m-font-size);
    font-weight: var(--md-v2-title-m-font-weight);
    letter-spacing: var(--md-v2-title-m-letter-spacing);
    line-height: var(--md-v2-title-m-line-height);
    font-variation-settings: 'GRAD' var(--md-v2-title-m-font-variation-GRAD),
      'opsz' var(--md-v2-title-m-font-variation-opsz);
  }
}
a:hover {
  color: var(--md-color-on-primary-container);
}
a:focus {
  margin: -1px;
  border: 1px solid var(--md-color-primary);
  outline: 0;
  box-shadow: inset 0 0 0 1px var(--md-color-surface-0);
}
a:hover:focus {
  border: 1px solid var(--md-color-on-primary-container);
  outline: 0;
  color: var(--md-color-on-primary-container);
}
p {
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
}
code {
  font-family: var(--md-v2-code-l-font-family);
  font-size: var(--md-v2-code-l-font-size);
  font-weight: var(--md-v2-code-l-font-weight);
  letter-spacing: var(--md-v2-code-l-letter-spacing);
  line-height: var(--md-v2-code-l-line-height);
  font-variation-settings: 'GRAD' var(--md-v2-code-l-font-variation-GRAD),
    'opsz' var(--md-v2-code-l-font-variation-opsz);
  padding: 0 2px;
  border-radius: 2px;
  background: var(--md-color-surface-2);
}
ul {
  list-style: initial;
}
.animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.md-text-field {
  padding: 0 16px;
  width: 25ch;
  height: 56px;
  background-color: transparent;
  border: 1px solid var(--md-color-utility-outline);
  border-radius: 4px;
  outline: 0;

  transition: padding 100ms cubic-bezier(0.2, 0, 0, 1),
    border 100ms cubic-bezier(0.2, 0, 0, 1);

  font-family: var(--md-v2-body-l-font-family);
  font-size: var(--md-v2-body-l-font-size);
  font-weight: var(--md-v2-body-l-font-weight);
  letter-spacing: var(--md-v2-body-l-letter-spacing);
  line-height: var(--md-v2-body-l-line-height);
  font-variation-settings: 'GRAD' var(--md-v2-body-l-font-variation-GRAD),
    'opsz' var(--md-v2-body-l-font-variation-opsz);
}
.md-text-field:focus {
  padding: 0 15px;
  border: 2px solid var(--md-color-primary);
}

.md-linear-progress {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  transform: translateZ(0px);
  outline: transparent solid 1px;
  overflow: hidden;
  transition: opacity 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
.md-linear-progress[hidden] {
  opacity: 0;
}
[dir='rtl'] .md-linear-progress,
.md-linear-progress[dir='rtl'] {
  transform: rotateY(180deg);
}
.md-linear-progress__bar {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: 0s ease 0s 1 normal none running none;
  transform-origin: left top;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
.md-linear-progress__primary-bar {
  transform: scaleX(1);
  left: -145.167%;
  transition: none 0s ease 0s;
  animation: 2s linear 0s infinite normal none running
    md-linear-progress-primary-indeterminate-translate;
}
.md-linear-progress__secondary-bar {
  display: block;
  left: -54.8889%;
  transition: none 0s ease 0s;
  animation: 2s linear 0s infinite normal none running
    md-linear-progress-secondary-indeterminate-translate;
}
.md-linear-progress__bar-inner {
  display: inline-block;
  position: absolute;
  width: 100%;
  animation: 0s ease 0s 1 normal none running none;
  border-top-style: solid;
  border-color: var(--md-sys-color-primary);
  border-width: 4px;
}
.md-linear-progress__primary-bar > .md-linear-progress__bar-inner {
  animation: 2s linear 0s infinite normal none running
    md-linear-progress-primary-indeterminate-scale;
}
.md-linear-progress__secondary-bar > .md-linear-progress__bar-inner {
  animation: 2s linear 0s infinite normal none running
    md-linear-progress-secondary-indeterminate-scale;
}
@keyframes md-linear-progress-primary-indeterminate-translate {
  0% {
    transform: translateX(0);
  }
  20% {
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    transform: translateX(0);
  }
  59.15% {
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    transform: translateX(83.67142%);
  }
  100% {
    transform: translateX(200.611057%);
  }
}
@keyframes md-linear-progress-primary-indeterminate-scale {
  0% {
    transform: scaleX(0.08);
  }
  36.65% {
    animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
    transform: scaleX(0.08);
  }
  69.15% {
    animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    transform: scaleX(0.661479);
  }
  100% {
    transform: scaleX(0.08);
  }
}
@keyframes md-linear-progress-secondary-indeterminate-translate {
  0% {
    animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
    transform: translateX(0);
  }
  25% {
    animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
    transform: translateX(37.651913%);
  }
  48.35% {
    animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
    transform: translateX(84.386165%);
  }
  100% {
    transform: translateX(160.277782%);
  }
}
@keyframes md-linear-progress-secondary-indeterminate-scale {
  0% {
    animation-timing-function: cubic-bezier(
      0.205028,
      0.057051,
      0.57661,
      0.453971
    );
    transform: scaleX(0.08);
  }
  19.15% {
    animation-timing-function: cubic-bezier(
      0.152313,
      0.196432,
      0.648374,
      1.004315
    );
    transform: scaleX(0.457104);
  }
  44.15% {
    animation-timing-function: cubic-bezier(
      0.257759,
      -0.003163,
      0.211762,
      1.38179
    );
    transform: scaleX(0.72796);
  }
  100% {
    transform: scaleX(0.08);
  }
}
